*.o
*.os
*.oS
*.so
*.a
.config
.config.cmd
.config.old
.tmpconfig*
extra/config/conf
extra/config/lex.zconf.c
extra/config/lkc_defs.h
extra/config/zconf.tab.c
extra/config/zconf.tab.h
extra/locale/c8tables.h
extra/locale/locale_data.c
extra/locale/lt_defines.h
extra/locale/uClibc_locale_data.h
extra/locale/wctables.h
include/bits/
include/dl-osinfo.h
include/fpu_control.h
include/hp-timing.h
include/pthread.h
include/semaphore.h
include/sgidefs.h
include/sys/acct.h
include/sys/asm.h
include/sys/cachectl.h
include/sys/epoll.h
include/sys/fpregdef.h
include/sys/inotify.h
include/sys/prctl.h
include/sys/procfs.h
include/sys/ptrace.h
include/sys/regdef.h
include/sys/sysmips.h
include/sys/tas.h
include/sys/ucontext.h
include/sys/user.h
include/sysdep.h
include/thread_db.h
lib/
libpthread/nptl/banner.h
libpthread/nptl/pthread-errnos.c
libpthread/nptl/pthread-errnos.h
libpthread/nptl/pthread-errnos.s
libpthread/nptl/sysdeps/mips/tcb-offsets.c
libpthread/nptl/sysdeps/mips/tcb-offsets.h
libpthread/nptl/sysdeps/mips/tcb-offsets.s
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelbarrier.c
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelbarrier.h
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelbarrier.s
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelcond.c
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelcond.h
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelcond.s
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelrwlock.c
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelrwlock.h
libpthread/nptl/sysdeps/unix/sysv/linux/lowlevelrwlock.s
libpthread/nptl/sysdeps/unix/sysv/linux/unwindbuf.c
libpthread/nptl/sysdeps/unix/sysv/linux/unwindbuf.h
libpthread/nptl/sysdeps/unix/sysv/linux/unwindbuf.s
libpthread/nptl/version.h
