#
# Kbuild ignores
#
.*
*.o
*.o.*
*.a
*.s
Kbuild
Config.in

#
# Never ignore these
#
!.gitignore

#
# Normal output
#
/busybox
/busybox_unstripped*

include/NUM_APPLETS.h
include/applets.h
include/bbconfigopts_bz2.h
include/usage.h

#
# Backups / patches
#
*~
*.orig
*.rej
/*.patch

#
# debugging stuff
#
core
.gdb_history
.gdbinit
